// form {
//   margin-top: 180px;
//   padding: 10px;
//   ion-header {
//     ion-title {
//       text-align: center;
//       font-size: 29px;
//       font-weight: bolder;
//       font-family: sans-serif;
//     }
//   }
// }

ion-title {
  font-size: 27px;
}
form {
  margin-top: 80px;
  text-align: center;
  padding: 30px;

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 80px;
  }
  ion-input {
    font-size: 25px;
    border-bottom: 1px solid #874879;
    margin-bottom: 20px;
  }
  ion-button {
    //     margin-top: 10px;
    font-size: 25px !important;
  }
  ion-item {
    padding: 12px;
    font-size: 22px !important;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }
}
