<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <img src="../../../assets/images/post_img.png" alt="" />

    <ion-input
      type="text"
      name="contactNumber"
      [formControl]="contactNumber"
      placeholder="Mobile number"
    ></ion-input>
    <ion-button (click)="handleLogin()" expand="block" color="success"
      >Login</ion-button
    ><br /><br />New At ?
    <a routerLink="/home/signup">Create Account</a>
  </form>
</ion-content>
