ion-item {
  margin-top: 270px;
  text-align: center;
  font-size: 46px;
  font-weight: bolder;
  font-family: sans-serif;
}
ion-label {
  font-size: 15px;
}
ion-tab-button {
  margin: 10px;
  color: blue;
}
